:root {
  --primary-foreground: #efefef;
  --primary-foreground-opacity: 85%;

  --primary-background: #010101;

  --default-transition-time: 0.3s;

  --header-height: 3rem;

  --side-inset: 1.5rem;
}

/* atkinson-hyperlegible-next-latin-wght-normal */
@font-face {
  font-family: "Atkinson Hyperlegible Next Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 200 800;
  /* src: url(https://cdn.jsdelivr.net/fontsource/fonts/atkinson-hyperlegible-next:vf@latest/latin-wght-normal.woff2) format('woff2-variations'); */
  src: url(/atkinson-hyperlegible-next_5.2.5_latin-wght-normal.woff2)
    format("woff2-variations");

  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--primary-background);
  color: var(--primary-foreground);
  overflow-y: scroll;
  font-size: 18px;
  font-family: "Atkinson Hyperlegible Next Variable", sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  margin-inline: var(--side-inset);
}

footer {
  margin-top: 2rem;
  margin-inline: auto;
}

img,
iframe,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
a {
  overflow-wrap: break-word;
  color: inherit;
}

#root,
#__next {
  isolation: isolate;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  border-bottom: var(--primary-foreground) solid 1.5px;
  margin-top: 0.6rem;
  padding-inline: var(--side-inset);
  & h1,
  & li,
  & a {
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
  }
}

@media (min-width: 768px) {
  body {
    padding-inline: 2rem;
    max-width: 1200px;
    margin-inline: auto;
  }

  header {
    padding: 0;
    & h1,
    & li,
    & a {
      font-size: 1.8rem;
    }
  }

  main {
    margin-inline: 0;
  }
}

.logo {
  font-style: italic;
}

.lang_switcher {
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 5px;
  padding-left: 5px;

  & li > a {
    opacity: 0.6;
  }
  & li > a:hover {
    opacity: 0.8;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

a {
  transition: var(--default-transition-time);
}
a:focus-visible:not(.link_card) {
  outline: 2px var(--primary-foreground) solid;
  outline-offset: 2px;
}
a:not(.no_link):hover {
  opacity: 0.75;
}

img:not(.project_logo) {
  max-height: 500px;
  margin-inline: auto;
}

.featured_projects {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.project_preview {
  position: relative;

  border: var(--primary-foreground) solid 2px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  background-color: var(--primary-background);

  transition: var(--default-transition-time);

  img {
    transition: var(--default-transition-time);
  }
}

.about_section {
  display: flex;
  margin-bottom: 3rem;
  margin-top: 4rem;
  gap: 1rem;
  align-items: start;

  & .about_text {
    margin-top: 0.8rem;
    display: block;
    max-width: 40ch;
  }
}

.profile_image {
  width: 100px;
  aspect-ratio: 1/1;
  border: 2px solid var(--primary-foreground);
  border-radius: 100%;
  margin-top: 0.6rem;
  object-position: 40% 0%;
}

@media (min-width: 768px) {
  .featured_projects {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    margin-top: 1.6rem;
  }
  .project_preview {
    overflow: hidden;
  }

  .project_preview:hover {
    z-index: 11;
    scale: 1.1;

    img {
      scale: 1.2;
    }
  }

  .link_card:focus-visible,
  .project_preview:focus-visible {
    scale: 1.1;
    outline: 3px solid var(--primary-foreground);
    outline-offset: -1px;
  }
  .project_preview:active {
    z-index: 11;
    scale: 15;

    img {
      scale: 10;
    }
  }

  .project_preview::before {
    content: attr(data-content);
    z-index: 100;
    position: absolute;
    display: grid;
    align-items: center;
    justify-items: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0.8rem;
    background-color: color-mix(
      in srgb,
      var(--primary-background),
      transparent 20%
    );
    color: var(--primary-foreground);
    transition: var(--default-transition-time);
    opacity: 0;
    /* backdrop-filter: blur(4px); */
  }
  .project_preview:hover::before {
    transition-delay: calc(var(--default-transition-time) / 2);

    opacity: 1;
  }
}

/* PROJECT PAGE CSS */

.project_hero {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - var(--header-height));
  padding-top: 4rem;

  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.project_logo {
  max-width: 210px;
  margin-bottom: 2rem;
  max-height: 90px;
  aspect-ratio: 1/1;
}

.project_stats {
  line-height: 1.3;
  dt {
    font-size: 0.8em;
  }

  dd {
    margin-bottom: 0.8rem;
  }
}

.project_image {
  position: relative;
  width: 100%;
  & iframe {
    width: 100%;
    aspect-ratio: 16/9;
  }
}

.project_more {
  display: flex;
  flex-direction: column;
  max-width: 65ch;
  margin-inline: auto;

  & p,
  & .project_image {
    margin-bottom: 1.6rem;
  }
}

@media (min-width: 768px) {
  .project_hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    column-gap: 25%;
    row-gap: 2rem;

    margin-inline: auto;
  }

  .project_stats {
    grid-column: 1;
    grid-row: 2;
  }

  .project_description {
    grid-column: 2;
    grid-row: 2;
    min-width: 30ch;
    max-width: 45ch;
  }
}

/* PLAIN ARTICLE (imprint)*/

.plain_article {
  display: block;
  max-width: 65ch;
  margin-inline: auto;

  h1,
  h2,
  p:nth-last-child(4),
  p:last-child
 {
    margin-top: 1.2rem;
  }

  margin-top: 2rem;

  @media (min-width: 768px) {
    margin-top: 8rem;
  }
}
